#app {
  viewport-fill: black;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

#date {
  font-size: 25;
  font-family: System-Regular;
  text-length: 24;
  text-anchor: middle;
  fill: white;
}

#hours {
  font-size: 100;
  font-family: System-Light;
  text-length: 4;
  text-anchor: middle;
  fill: white;
}

#minutes {
  font-size: 110;
  font-weight: bold;
  font-family: System-Bold;
  text-length: 4;
  text-anchor: middle;
  fill: white;
}

.sensoricon {
  x: 0;
  y: 5;
}

.icon {
  width: 35;
  height: 35;
}

.sensor_data{
  text-length: 12;
  text-anchor: start;
  fill: white;
}

.sun_label {
  font-family: System-Regular;
  font-size: 12;
  fill: white;
}

#time_left_label {
  font-size: 12;
  text-anchor: middle;
  text-length: 24;
}

#daynightlength {
  font-size: 18;
  font-family: System-Regular;
  text-length: 24;
  text-anchor: start;
  fill: white;
}

#leftsuntime {
  font-size: 20;
  font-family: System-Regular;
  text-length: 12;
  text-anchor: start;
  fill: white;
}

#rightsuntime {
  font-size: 20;
  font-family: System-Regular;
  text-length: 12;
  text-anchor: start;
  fill: white;
}

#battery_value {
  text-length: 12;
  fill: white;
  font-size: 20;
  font-family: System-Regular;
  text-anchor: start;
}
